.header-componente {
    height: 200px;
    width: 100%;
    background-image: url('https://www.xtrafondos.com/descargar.php?id=3427&resolucion=4300x2418');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -30px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
}