body {
  
  background-color: rgb(0, 0, 0);
}

.contenedor-padre {
  display: flex;
  align-items: baseline;
  
}

.capitulo-info {
  margin-left: 30px;
  background-color: rgb(3, 7, 28);
  padding: 10px;
  color: white;
  margin-bottom: 10px;
}

.img-serie{
  width: 700px;
  
}

.img-moon {
  display: flex;
  justify-content: center;
}

.marvel {
  width: 100px;
  background-color: white;
  padding:2px ;
}

.videos {
  display: flex;
  
}