body {
  
  background-color: rgb(212, 212, 212);
}

.contenedor-padre {
  display: flex;
  align-items: baseline;
  
}

.capitulo-info {
  margin-left: 30px;
  background-color: white;
  padding: 10px;
}

.img-serie{
  width: 700px;
  
}

.img-moon {
  display: flex;
  justify-content: center;
}

.marvel {
  width: 100px;
}
